srecode-map.el
*~
el-get/
auto-save-list/
*.elc
image.weibo/
t.weibo/
url/
.recentf
oauth2.plstore
ac-comphist.dat
org-clock-save.el
eproject.lst
bbdb
notes/
vendor/
/.emacs-places
/eshell/history
/projectile-bookmarks.eld
/projectile.cache
/el-get-init-files/init-powerline.el
/el-get-init-files/init-rainbow-delimiters.el
/el-get-init-files/init-rainbow-mode.el
/el-get-recipes/color-theme-sanityinc-tomorrow.rcp
/el-get-recipes/color-theme-soft-morning.rcp
/el-get-recipes/powerline.rcp
/tramp
elpa/
/flycheck-org-clock-save.el
.#*
